.unique-login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:  #F8EDE3;
    font-family: Garamond;
}

.unique-login-box {
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    text-align: center;
}

.unique-login-box h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.unique-input-group {
    position: relative;
    margin-bottom: 20px;
}

.unique-input-group input {
    width: 100%;
    padding: 12px 40px 12px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.unique-input-group .unique-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #888;
}

.unique-admin-btn {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.unique-admin-btn:hover {
    background-color: #555;
}
