.search-container {
    display: flex;
    margin-top: 5em;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    

}
.book-search{
    align-items: center;
    max-width: 600px;
    width: 100%;
    padding: 5em;
    margin-bottom: 3em;
    justify-content: center;
    border: 1px solid #ffffff;
    border-radius: 5px;
    transition: transform 0.2s;
    box-shadow: 4px 4px 9px 9px rgba(0, 0, 0, 0.456);
    background-color: #faf7f7;
    overflow-y: scroll;
}
.search-authers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    padding: 2em;
    margin-bottom: 3em;
    border: 1px solid #ffffff;
    border-radius: 5px;
    box-shadow: 4px 4px 9px 9px rgba(0, 0, 0, 0.456);
    background-color: #faf7f7;
    overflow-y: auto;
  }
  
  .search-authers2 {
    flex: 1 1 auto; 
    margin-bottom: 1.5em;
    padding: 1em;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-sizing: border-box;
  }
  
.card-title{
    display: flex;
    justify-items: left;
    margin-bottom: 1em;

}
.search-category{
    align-items: center;
    max-width: 300px;
    max-height: 200px;
    width: 100%;
    padding: 5em;
    margin-bottom: 3em;    
    justify-content: center;
    border: 1px solid #ffffff;
    border-radius: 5px;
    transition: transform 0.2s;
    box-shadow: 4px 4px 9px 9px rgba(0, 0, 0, 0.456);
    background-color: #faf7f7;
    
}